@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: bisque; */
  
}

.childContainer{
  width: fit-content;
  /* justify-content: space-around; */
  height: 250px;
  /* color: #eb12b4;*/
  /* background-color: rgb(12, 230, 48);
  border: 2px solid black;  */
   margin: 40px;
  font-size: 80px;
  font-weight: 900;
}  

.indigoColor{
  color: rgba(92, 0, 92, 0.849);
}
